header{
  margin-bottom: 2%;
}

.logo img {
  height: 150px;
}

.title {
  padding-top: 5%;
}

.title h1 {
  color: #f266acaf;
  font-weight: 700;
  font-size: 35px;
  font-style: italic;
  font-family: cursive;
}

.heading{
  width: 100%;
  background-color: #f266acaf;
  color: #27374D;
  font-family: “Gill Sans”, “Gill Sans MT”, Calibri, sans-serif;
  text-align: center;
  padding: 1%;
}